<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
	  <add key="CommandTimeout" value="1200"/>
</appSettings>
  <connectionStrings>
    <!--<add name="DEFACEWEBSITEConnectionString" connectionString="Data Source=27.0.12.24;Initial Catalog=DEFACEWEBSITE;Persist Security Info=True;User ID=deface;Password=123456"
      providerName="System.Data.SqlClient" />-->
    <add name="DEFACEWEBSITEConnectionString" connectionString="Data Source=27.0.12.24;Initial Catalog=DEFACEWEBSITE;Persist Security Info=True;User ID=deface;Password=123456"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
	<bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" closeTimeout="00:30:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>  
      <binding name="BarCodeWebServiceSoap" />
      <binding name="TransportSecurity" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
		      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />          
            <!--<security mode="Transport">
              <transport clientCredentialType="None" />            
            </security>          -->
        </binding>
      </basicHttpBinding>	  
    </bindings>
	<services>
		<service name="DefaceWebService.Services.DFWService" behaviorConfiguration="gAMS_Notify_Behaviors">
			<!-- Service Endpoints -->
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="DefaceWebService.Services.Interfaces.IUser" />		
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="DefaceWebService.Services.Interfaces.IMessages" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="DefaceWebService.Services.Interfaces.IListDomain" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="DefaceWebService.Services.Interfaces.IConfigs" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="DefaceWebService.Services.Interfaces.ICheckDomain" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="DefaceWebService.Services.Interfaces.ISchedule" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="DefaceWebService.Services.Interfaces.IOptions" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="DefaceWebService.Services.Interfaces.IFeatures" />
      
      <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
		 </service>
	</services>
    <behaviors>
      <serviceBehaviors>
	  <behavior name="gAMS_Notify_Behaviors">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
		  <dataContractSerializer maxItemsInObjectGraph="2147483647" />	  
		  <bufferedReceive maxPendingMessagesPerChannel="2147483647" />
          <serviceTimeouts transactionTimeout="00:10:00" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
	  <endpointBehaviors>
          <behavior name="myEndPointBehavior">
            <dataContractSerializer maxItemsInObjectGraph="2147483647" />
         </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>